__pycache__

/.pytest_cache
/_source
/_build
/_install
/src/libdatachannel/*.so
/src/libdatachannel/*.dll
/src/libdatachannel/*.pyd
/src/libdatachannel/py.typed
/src/libdatachannel/**/*.pyi
/src/*.egg-info

/dist
/*.so

libopenh264*
examples/whip-webrtc*

/.hypothesis